<h1 class="title1">Vos Réservations</h1>
<div class="row filter">
  <mat-form-field class="searchFormField col s12">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="La reine Margot">
  </mat-form-field>
</div>
<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="titre">
    <mat-header-cell *matHeaderCellDef>Titre</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.livre.titre}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.date | date: "dd/MM/yyyy"}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="dateLimite">
    <mat-header-cell *matHeaderCellDef>Date limite</mat-header-cell>
    <mat-cell *matCellDef="let element"><span class="red-text" *ngIf="element.dateLimit">{{element.dateLimit | date: "dd/MM/yyyy H:mm"}}</span>
        <span *ngIf="!element.dateLimit">__</span></mat-cell>
  </ng-container>
  <ng-container matColumnDef="place">
    <mat-header-cell *matHeaderCellDef>Place</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.place }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
        <button class="btn-floating btn-small action" (click)="openDialog(element)" title="Annuler la réservation du livre {{element.livre.titre}}">
            <i class="material-icons">clear</i></button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5,10,15,20]" [pageSize]="10" [length]="30"></mat-paginator>
<p-toast></p-toast>
