<div class="card" *ngIf="reservation" style="margin: 0px; padding: 0px;">
    <div class="card-content">
        <span class="card-title center-align title">Confirmez vous vouloir annuler la réservation du  livre <br> <b>{{ reservation.livre.titre }} ?</b></span>
    </div>
    <div class="card-action center-align" style="padding: 8px;">
        <div class="row" style="margin: 0;">
            <!-- <a class="btn col s3 offset-s2 " (click)="reserver(true)">Oui</a>
            <a class="btn col s3 offset-s2 " (click)="reserver(false)">Non</a> -->
            <a class="btn col s3 offset-s2 empruntAction" (click)="annuler(true)">Oui</a>
            <a class="btn col s3 offset-s2 empruntAction" (click)="annuler(false)">Non</a>
        </div>
    </div>
</div>